<!-- About start -->

<div class="start" id="about">
  <div class="about-image">
    <img src="/Assets/4.jpg" alt="Graphic Design Internship" class="internship-imag" />
  </div>
  <div class="internship-detail">
    <h1>
      We design success <br />
      for your future.
    </h1>
    <p>
      Welcome to Nexus, where standards and quality <br />
      converge to redefine excellence in the digital realm.
    </p>
    <div class="bullet">
      <ul>
        <li>
          Setting standards and quality in web <br />
          products
        </li>
        <li>Elevating brands and fostering growth</li>
        <li>
          Providing a dynamic and personalized <br />
          educational experience
        </li>
      </ul>
      <div class="bt">
        <div class="btns">
          <button>CONTACT</button>
        </div>
        <h2 class="tag">Grow with Us</h2>
      </div>
    </div>
  </div>
</div>

<!-- about end -->
