<div class="container" id="home">
  <div class="hero-content">
    <p class="subtitle">-Welcome to</p>
    <h1 class="title">Nexus Info</h1>
    <p>
      Transform your business digitally with our cutting-edge solutions,
      tailored to boost your online presence and drive unparalleled success.
      Step into a world where technology meets progress, and let Nexus Info be
      your partner in achieving new heights of digital growth.
    </p>
    <div class="btns">
      <button>DISCOVER MORE</button>
      <a href="#" class="blinking-button"
        ><i class="fa-solid fa-play" id="play"></i
      ></a>
    </div>
  </div>
  <div class="hero-image">
    <img src="/Assets/1.jpg" alt="Circular Image" width="450" height="450" />
  </div>
</div>
