<div class="conta" id="intership">
  <p class="para">-Join our team-</p>
  <h1 class="head">Career</h1>
  <p class="pr">
    Embark on a journey of mutual growth with Nexus, where our success
    intertwines with yours.
  </p>
</div>
<div class="start">
  <div class="internship-section">
    <img
      src="/Assets/2.jpg"
      alt="Graphic Design Internship"
      class="internship-image"
    />
    <div class="internship-details">
      <h2>Internship</h2>
      <p class="pr">
        Internship for freshers and students for <br />
        career development (1 Month).
      </p>
      <a href="#" class="apply-button">Apply</a>
    </div>
  </div>

  <div class="internship-section">
    <img src="/Assets/3.jpg" alt="Graphic Design Internship" class="internship-image" />
    <div class="internship-details">
      <h2>Internship for beginners</h2>
      <p class="pr">
        College students and beginners can apply <br />
        for this internship (3 Months).
      </p>
      <a href="#" class="apply-button">Apply</a>
    </div>
  </div>
</div>
