<div class="cont" id="service">
  <p class="para">-Nexus Product-</p>
  <h1>Service</h1>
  <p class="parag">
    Unlock innovation with our cutting-edge software solutions <br />
    and services tailored to elevate your digital presence.
  </p>
</div>

<div class="card-box">
  <div class="card">
    <div class="circle">1</div>
    <h3>Business Websites</h3>

    <p class="par">
      Elevate your online presence with custom-crafted websites that capture
      your vision and engage your audience.
    </p>
  </div>

  <div class="card">
    <div class="circle">2</div>
    <h3>E-Commerce Websites</h3>

    <p class="par">
      Step into the digital marketplace with seamless online shopping
      experiences that empower your business to thrive.
    </p>
  </div>
  <div class="card">
    <div class="circle">3</div>
    <h3>Educational Websites</h3>
    <p>
      Transform education in the digital age with platforms that facilitate
      learning and collaboration for institutions and educators.
    </p>
  </div>

  <!-- Second Set of Cards -->
  <div class="card">
    <div class="circle">4</div>
    <h3>Career Programs</h3>

    <p class="par">
      Ignite professional growth with enriching internships, bridging the gap
      between academic learning and real-world success.
    </p>
  </div>

  <div class="card">
    <div class="circle">5</div>
    <h3>Business Consulting</h3>

    <p class="par">
      Strategic vision meets actionable plans - trust Nexus for business
      strategies that pave the way for sustained growth and success.
    </p>
  </div>
  <div class="card">
    <div class="circle">6</div>
    <h3>Design Services</h3>
    <p class="par">
      Elevate your brand with our striking logos and captivating posters –
      expertly crafted to leave a lasting impression.
    </p>
  </div>
</div>
